body{
  font-family: Arial;
  width: 80%;
  margin: 90% auto;
  margin-bottom: 0;
  margin-top: 0;
}

#container{
  background-color: #cdecf6;
  height: 1900px;

}

.main{
  padding: 20px;
  background-color: blue;
  position: fixed;
  width: 77%;
  z-index: 1;
  top: -10px;
  left: 0;
  margin-left: 10%;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.p1{
  font-family: 'Times New Roman', serif;
  color: white;  
  position: absolute;
  left: 0;
  top: -4%;
  padding: 3px;
  font-size: 1.5em;
}

.logo{
  width: 50px;
  height: 30px;
  position: relative;
  top: -3px;
  left: 800px;
}

input{
  appearance: none;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 25px;
  background-color: gray;
  transition: background 0.3s;
  outline: none;
  cursor: pointer;
}

input::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.25em;
  width: 1.25em;
  background-color: yellow;
  transition: left .3s;
}

input:checked {
  background-color: yellow;
}

input:checked::after{
  left: 70%;
}

.row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
}

.row h3 {
  margin: 0;
  font-size: 2em;
  color: black;
  margin-top: 50px;
}

.dots {
  position: absolute;
  right: 20px;
  top: 75%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.dots span {
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
  display: block;
}

/*h3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  font-size: 3em;
  margin-top: 60px;  
}*/

.nonmain{
  background-color: #48d1cc;
  padding: 30px;
  right: 20px;
  left: 20px;
  border-radius: 40px;
  margin: 4%;
}

.nonmain:hover{
  background-color: skyblue;
  position: relative;
  top: -10px;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;

}

.john{
  display: inline-block;
  text-align: center;
  color: white;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.num{
  color: white;
  display: inline-block;
  padding: 3px;
  margin-left: 500px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;

}

input{
  align-items: left;
}

.nonmain .p3{
  text-align: center;
  font-size: 5em;
  color: black;
}

.trans{
  position: sticky;
  top: 64px;
  padding: 6px;
  background-color: rgb(183, 183, 191);
  z-index: 2;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.p4{
  display: inline-block;
  margin-left: 70px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 1.5em;
  color: rgb(105, 105, 164);

}

.p5{
  display: inline-block;
  margin-left: 650px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  color: #48d1cc;
  font-size: 1.5em;
}

.image{
  padding: 10px;
  border-radius: 1000px;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.p11{
  font-size: small;
  display: inline-block;
  position: relative;
  top: -60px;
  color: #48d1cc;
}

.p6{
  position: relative;
  top: -90px;
  left: 125px;
}

.p7{
  position: relative;
  top: -150px;
  left: 800px;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

.p8{
  font-size: small;
  color: blue;
  display: inline-block;
  position: relative;
  top: -60px;
}

.p9{
  font-size: small;
  color: red;
  display: inline-block;
  position: relative;
  top: -60px;
}

.p10{
  font-size: small;
  color: yellow;
  display: inline-block;
  position: relative;
  top: -60px;
}

.border{
  background-color: gray;
  padding: 20px;
  right: 20px;
  left: 20px;
  border-radius: 40px;
  margin: 4%;
}

.border:hover{
  background-color: rgb(167, 165, 165);
  position: relative;
  top: -10px;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}
