body {
  font-family: Arial, sans-serif;
  background: #0e1320;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
}

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

#search {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #1e2433;
  color: #fff;
}

/*Filters*/
.filters {
  margin: 20px 0;
}

.filter-btn {
  background: #1e2433;
  border: none;
  color: #fff;
  padding: 10px 16px;
  margin-right: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.filter-btn.active,
.filter-btn:hover {
  background: #4a72ff;
}

/*Extensions Grid*/
.extensions-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

/*Card Styles*/
.card {
  background: #1b2131;
  border-radius: 12px;
  padding-right: 20px;
  display: flex;
  gap: 15px;
  align-items: flex-start;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px)
}

/*Icon box*/
.icon {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  flex-shrink: 0;
 
}

/* info Section*/
.info {
  flex: 1;
}

.card h3 {
  margin: 0 0 6px 0;
  font-size: 18px;
}

.card p {
  font-size: 14px;
  color: #ccc;
  margin: 0;
}

/*Card Actions*/
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
 .remove-btn {
  background-color: gray;
  border: none;
  padding: 8px 12px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  transition: background 0.2s;
 }

 .remove-btn:hover {
  background: #e63b3b;
 }

 /*Toggle Switch*/
 .switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
 }

 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
 }

 .slider {
  position: absolute;
  cursor: pointer;
  background-color: #888;
  border-radius: 22px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
 }

 .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
 }

 input:checked + .slider {
  background-color: red;
 }

 input:checked + .slider:before {
  transform: translate(22px);
 }