@media screen and (min-width: 376px) {
  body{
    background: #eee;
    font-family: "DM Sans", sans-serif;
  }
  .img2{
    display: none;
  }
  div {
    border-radius: 10px;
  }
  main {
    display: grid;
    max-width: 960px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin: 0 auto;
  }   
  main div:nth-child(1) {
    background: #faeee0;
    height: 200px;
    grid-row: 1 / 3;
    min-height: 280px;
    
  }
  main div:nth-child(2) {
    background: #7650dc;
    grid-column: 2 / 4;
    height: 200px;
  }
  main div:nth-child(3) {
    background: #dacffc;
    grid-column: 4;
    grid-row: 1 / 3;
  }
  main div:nth-child(4) {
    grid-auto-rows: minmax(100px, auto);
  }
  main div:nth-child(6) {
    grid-row: 3;
    position: relative;
    top: -180px;
    height: 380px;
  }

  main div:nth-child(8) {
    background: #7650dc;
    grid-column: 3 / 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  main div:nth-child(8), main div:nth-child(7) {
    height: 200px;
  }
  main div:nth-child(6), main div:nth-child(5) {
    background: #ffcb6b;
  }
  main div:nth-child(4), main div:nth-child(7){
    background: #fff;
  }
  img{
    width: 100px;
  }
  main div:nth-child(1) p {
    font-size: 25px;
    margin: 20px 0 10px 60px;
  }
  main div:nth-child(1) p span{
    color: #7650dc;
    font-family: cursive;
  }
  main div:nth-child(1) img{
  width: 150px;
    margin: 0 0 10px 50px;
  }
  main div:nth-child(2) p{
    margin-top: 25px;
    margin-bottom: 0;
    text-align: center;
    font-size: 38px;
    color: #fff;
    font-weight: 500;
  }
  .span1{
    color: #ffcb6b;
  }
  .span{
    color: #fff;
    font-size: 13px;
    position: relative;
    bottom: 20px;
  }
  main div:nth-child(2) img{
    width: 130px;
    margin: 0;
  }
  main div:nth-child(3) h2{
    margin: 25px 0 10px 40px;
    font-weight: 500;
    font-size: 30px;
    line-height: 25px;
    letter-spacing: -2px;
  }
  main div:nth-child(3) img{
    width: 200px;
    margin: 0 0 10px 40px;
  }
  main div:nth-child(3) p{
    margin: 0 0 20px 40px;
    font-size: 16px;
  }
  main div:nth-child(4) img{
    width: 190px;
    margin: 10px 0 0 40px;
  }
  main div:nth-child(4) h1{
    font-size: 30px;
    margin: 15px 0 0 20px;
  }
  main div:nth-child(5) h1{
    font-size: 30px;
    margin: 20px 0 0 20px;
  }
  main div:nth-child(5) img{
    width: 200px;
    position: relative;
    left: 20px;
    top: 13px;
  }
  main div:nth-child(6) h1{
    margin: 20px 0 0 20px;
    font-size: 35px;
    font-weight: bolder;
  }
  main div:nth-child(6) img{
    width: 200px;
    margin: 20px 0 0 20px;
    
  }
  main div:nth-child(7) h1{
    margin: 20px 0 0 20px;
    font-size: 40px;
    font-weight: 500;
  }
  main div:nth-child(7) p{
    margin: 20px 0 20px 20px;
    font-size: 18px;
  }
  main div:nth-child(7) img{
    position: relative;
    left: 40px;
    width: 150px;
  }
  main div:nth-child(8) img{
    width: 190px;
    margin: 20px;
  } 
  main div:nth-child(8) p{
    font-size: 30px;
    margin: auto 0;
    color: #fff;
  }
}

/* Media query mobile size */

@media screen and (max-width: 376px) {
  body{
    width: 300px;
    background: #eee;
    margin: 20px auto;
  }
  main {
  display: grid;
  height: 200px;
  grid-template-columns: none;
  grid-template-rows: repeat(8,1fr);
  grid-gap: 20px;
  margin: 0 auto;
  }   
  div{
    border-radius: 10px;
  }
  main div:nth-child(2){
    grid-row: 1;
    background: #7650dc;
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
  }
  main div:nth-child(2) img{
    width: 170px;
    margin: 20px 0 0 0;
  }
   main div:nth-child(2) p .span1{
    color: #ffcb6b;
   }
   main div:nth-child(2) p .span{
    font-size: 18px;
   }
  main div:nth-child(4){
    grid-row: 2;
    background: #fff;
  }
  main div:nth-child(4) br{
    display: none;
  }
  main div:nth-child(4) img{
    width: 300px;
    margin: 20px 0 0 0;
  }
  main div:nth-child(4) h1{
    margin: 5px 20px;
    font-size: 20px;
  }
  .img1{
    display: none;
  }
  main div:nth-child(5){
    grid-row: 3;
    background: #ffcb6b;
  }
  main div:nth-child(5) h1 {
    margin: 15px 30px;
    font-size: 22px;
  }
  main div:nth-child(5) br{
    display: none;
  }
  main div:nth-child(5) img{
    width: 170px;
    position: relative;
    margin-left: 30px;
    top: 4px;
  }
  main div:nth-child(3){
    grid-row: 4;
    background: #dacffc;
  }
  main div:nth-child(3) br{
    display: none;
  }
  main div:nth-child(3) h2{
    margin: 10px 30px;
  }
  main div:nth-child(3) p{
    text-align: center;
    margin: 10px 20px;
    font-size: 18px;
  }
  main div:nth-child(3) img{
    width: 280px;
    margin: 0 20px;
  }
  main div:nth-child(8){
    grid-row: 5;
    background: #7650dc;
  }
  main div:nth-child(8) img{
    margin: 20px 60px 0 60px;
    width: 200px;
  }
  main div:nth-child(8) p{
    text-align: center;
    color: #fff;
    font-size: 25px;
    line-height: 22px;
  }
  main div:nth-child(7){
    grid-row: 6;
    background: #fff;
  }
  main div:nth-child(7) h1{
    margin: 10px 20px;
  }
  main div:nth-child(7) p{
    margin: 0 20px;
    font-weight: 500;
    font-size: 20px;
  }
  main div:nth-child(7) img{
    margin: 20px;
    width: 150px;
  }
  main div:nth-child(1){
    grid-row: 7;
    background: #f9eee1;
  }
  main div:nth-child(1) p{
    margin: 10px 20px;
    font-size: 25px;
  }
  main div:nth-child(1) p span{
    color: #7650dc;
  }
  main div:nth-child(1) img{
    margin: 10px 20px;
    width: 160px;
  }
  main div:nth-child(1) br{
    display: none;
  }
  main div:nth-child(6){
    grid-row: 8;
    background: #ffcb6b;
  }
  main div:nth-child(6) br{
    display: none;
  }
  main div:nth-child(6) h1{
    margin: 10px 20px;
  }
  main div:nth-child(6) img{
    width: 230px;
    margin: 10px 20px;
  }
}
