body {
  background-color: #a8a0a0;
}

.container {
  margin: 0 auto;
  width: 700px;
  height: 700px;
  border: 30px inset #000;
  background-color: #fff;
}

/*RED COLOR SPACE */

.red {
  position: relative;
  width: 25%;
  height: 25%;
  border: 50px solid #fd0b0b;
}

.red-color {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 70px;
  height: 70px;
  background-color: #fd0b0b;
  border: 3px solid #000;
  border-radius: 100px;
}

.red-square{
  position: relative;
  top: 0px;
  background-color: #000;
  width: 275px;
  height: 150px;
}

.red-small-square {
  position: inherit;
  display: inline-block;
  margin: 1px;
  background-color: white;
  width: 40px;
  height: 45px;
}

/*GREEN COLOR SPACE */

.green {
  position: relative;
  top: -425px;
  left: 425px;
  width: 25%;
  height: 25%;
  border: 50px solid #084108;
}

.green-color {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 70px;
  height: 70px;
  background-color: #084108;
  border: 3px solid #000;
  border-radius: 100px;
}

.green-square{
  position: relative;
  top: -700px;
  left: 275px;
  background-color: #000;
  width: 150px;
  height: 275px;
}

.green-small-square {
  position: inherit;
  display: inline-block;
  margin: 1px;
  background-color: white;
  width: 45px;
  height: 40px;
}

/*BLUE COLOR SPACE */

.blue {
  position: relative;
  top: -550px;
  width: 25%;
  height: 25%;
  border: 50px solid #0a0ae6;
}

.blue-color {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 70px;
  height: 70px;
  background-color: #0a0ae6;
  border:3px solid #000;
  border-radius: 100px;
}

.blue-square{
  position: relative;
  top: -825px;
  left: 275px;
  background-color: #000;
  width: 150px;
  height: 275px;
}

.blue-small-square {
  position: inherit;
  display: inline-block;
  margin: 1px;
  background-color: white;
  width: 45px;
  height: 40px;
}

/*YELLOW COLOR SPACE */

.yellow {
  position: relative;
  top: -1100px;
  left: 425px;
  width: 25%;
  height: 25%;
  border: 50px solid #f5f507;
}

.yellow-color {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 70px;
  height: 70px;
  background-color: #f5f507;
  border: 3px solid #000;
  border-radius: 100px;
}

.yellow-square{
  position: relative;
  top: -1525px;
  left: 425px;
  background-color: #000;
  width: 275px;
  height: 150px;
}

.yellow-small-square {
  display: inline-block;
  margin: 1px;
  background-color: white;
  width: 40px;
  height: 45px;
}


/* IMAGE STYLING */

img{
  position: relative;
  top: -155px;
  left: -150px;
  width: 150px;
  height: 155px;
}

/* Allowing them to move */

/* .red-1 {
  position: absolute;
  top: 220px;
  left: -5px;
  z-index: 1;
  width: 35px;
  height: 35px;
}

.green-1 {
  position: absolute;
  top: -10px;
  left: -98px;
  z-index: 1;
  width: 35px;
  height: 35px;
}

.yellow-1 {
  position: absolute;
  top: -100px;
  left: 130px;
  z-index: 1;
  width: 35px;
  height: 35px;
}

.yellow-2 {
  position: absolute;
  top: -100px;
  left: 85px;
  z-index: 1;
  width: 35px;
  height: 35px;
}
.yellow-3 {
  position: absolute;
  top: -100px;
  left: 40px;
  z-index: 1;
  width: 35px;
  height: 35px;
}

.yellow-4 {
  position: absolute;
  top: -100px;
  left: -50px;
  z-index: 1;
  width: 35px;
  height: 35px;
}

.blue-1 {
  position: absolute;
  top: 135px;
  left: 225px;
  z-index: 1;
  width: 35px;
  height: 35px;
} */