body{
  font-family: sans-serif;
  background-image: url(/image/travelbg6.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   max-width: 960px;
   color: #fff;
   font-size: 20px;
}

header{
  height: 100px;
}

header img{
  width: 80px;
  margin: 0 0 10px 30px;
}

nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 16px;
  font-weight: bolder;
}
nav ul:nth-child(1){
  display: grid;
  width: 600px;
  margin: 0;
  padding: 0;
  /* grid-template-columns: 65px 65px 90px 90px 50px 120px; */
  grid-template-columns: .8fr .8fr 1fr 1fr .7fr 1.2fr;
  list-style-type: none;
  position: relative;
  bottom: 60px;
  left: 130px;
}

nav ul:nth-child(2){
  display: grid;
  width: 200px;
  grid-template-columns: 1fr 1fr;
  left: 300px;
  list-style-type: none;
  position: relative;
  bottom: 80px;
}
nav ul:nth-child(2) button{
  position: relative;
  width: 80px;
  left: 100px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  color: #000;
}
nav ul:nth-child(2) li:nth-child(2) button{
  background: blue;
  color: #fff;
}
/* main style */
main{
  font-size: 15px;
  margin: 0 0 0 40px;
}
main h3{
  margin: 40px 0 0 0;
}
main h1{
  margin: 20px 0 0 0;
  font-size: 60px;
}
main h1 span{
  color: #ffff00;
}
main p{
  color: #000;
  line-height: 25px;
  font-size: 18px;
}
main section div.section-div-1{
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
main section div.section-div-1 span{
  background: #fff;
  color: #000;
  padding: 10px;
}
main section div.section-div-1 span:nth-child(1){
  border-top-left-radius: 10px;
}
main section div.section-div-1 span:nth-child(2){
  background: #eee;
}
main section div.section-div-1 span:nth-child(3){
  background: #eee;
  border-top-right-radius: 10px;
}
.section-div-2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  color: #000;
  font-size: 15px;
}
.section-div-2 div:nth-child(1){
  background: #fff;
  border-bottom-left-radius: 10px;
}
.section-div-2 div:nth-child(1) h5{
  text-align: left;
  font-weight: lighter;
  font-size: 16px;
  margin: 0 0 20px 40px;
}
.section-div-2 div:nth-child(2){
  background: #fff;
}
.section-div-2 div:nth-child(2) input{
  border: none;
}
.section-div-2 div:nth-child(3){
  background: #fff;
}
.section-div-2 div:nth-child(3) select{
  border: none;
  padding: 0 20px;
  font-weight: lighter;
  font-size: 16px;
}
.section-div-2 div:nth-child(4){
  width: 150px;
  background: #1708e7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.section-div-2 div:nth-child(4) h4{
  font-size: 30px;
  margin: 0 0 10px 0;
  position: relative;
  right: 5px;
}
.section-div-2 div:nth-child(4) input{
  border: none;
  width: 120px;
  background: none;
  color: #fff;
  text-align: center;
  font-size: 18px; 
  position: relative; 
  left: 10px;
}
