body{
  background: #eee;
  font-family: 'Times New Roman';
}
.container{
  width: 60%;
  background: #f7ece3;
  margin: 0 auto;
}
header h2{
  position: relative;
  top: 20px;
  font-size: 15px;
  margin: 20px 50px;
  color: #3c6969;
}
header ul {
  list-style: none;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 200px;
  top: -17px;
  font-size: 15px;
  left: -100px;
  
}
header ul li a{
  padding: 20px;
  color: #3c6969;
  text-decoration: none;
}
header button{
  position: relative;
  left: 600px;
  top: -40px;
  height: 30px;
  width: 120px;
  border-radius: 10px;
  color: #3c6969;
  font-size: 15px;
  font-weight: bold;
  border: #3c6969 2px solid;
}
.section-one div{
  text-align: center;
  margin: 0 auto;
  font-size: 10px;
  font-weight: bold;
  border: 2px solid #a52a2a;
  border-radius: 20px;
  color: #a52a2a;
  width: 170px;
  padding: 5px;
}
main .div-one{
  margin: 0 auto;
  text-align: center;
  color: #3c6969;
}
main .button-one{
  background: #20b5b5ef;
  border: none;
  padding: 8px;
  color: #fff;
  width: 100px;
  font-size: 15px;
  border-bottom: black 3px solid;
  border-radius: 20px;
}
main .div-two img{
 width: 90%;
  margin: 20px 5%;
}
main .div-three{
  background: #fac371;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 400px;
}
main .div-three section h3{
  font-size: 39px;
  font-weight: lighter;
  margin: 50px 0 20px 35px;
}
main .div-three section p{
  font-size: 12px;
  margin: 0 0 0 35px;
  line-height: 18px;
}
main .div-three section li{
  font-size: 13px;
  padding: 5px;
  line-height: 18px;
}
main .div-three section .button-two{
  background: #20b5b5ef;
  border: none;
  padding: 8px;
  color: #fff;
  width: 100px;
  font-size: 15px;
  border-bottom: black 3px solid;
  border-radius: 20px;
  margin: 0 0 20px 30px;
}
main .div-three .section-image{
  align-self: center;
}
.third-layer h3{
  font-size: 30px;
  text-align: center;
  color: #3c6969;
}
.third-layer section{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.third-layer section div{
  margin: 20px 5px;
  border: 2px #3c6969 solid;
  border-radius: 10px;
}
.third-layer section div:nth-child(1){
  margin-left: 20px;
}
.third-layer section div:nth-child(3){
  margin-right: 20px;
}
.third-layer section div img{
  position: relative;
  width: 95%;
  top: 2px;
  left: -25px;
  height: 200px;
  margin: 0 30px;
  border-radius: 10px;
}
.third-layer section div nav{
   background: #e6ae59;
   border-radius: 5px;
   border: 2px #3c6969 solid;
}
.third-layer section div h5{
  color: #3c6969;
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
}
.third-layer section div nav ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  top: -20px;
  left: -25px;
}
.third-layer section div nav ul li{
  font-size: 7px;
  font-weight: bolder;
  margin: 0  5px 0 5px;
}
.third-layer section div nav ul li:nth-child(1){
  margin-left: 0;
}
.third-layer section div nav ul li:nth-child(3){
  margin-right: 0;
}
.third-layer section div nav button{
  background: #20b5b5ef;
  border: none;
  padding: 8px;
  color: #fff;
  position: relative;
  top: -20px;
  left: 60px;
  width: 80px;
  font-size: 10px;
  border-bottom: black 3px solid;
  border-radius: 20px;
}
.third-layer section div nav button.lunch{
  color: #20b5b5ef;
  background: #fff;
  border-bottom: 3px solid #20b5b5ef;
}
.fourth-layer section:nth-child(1){
  background: #0d3e0d;
  text-align: center;
} 
.fourth-layer section:nth-child(1) h4{
  color: #fff;
  font-size: 30px;
  font-weight: bolder;
  line-height: 40px;
  padding: 30px;  
}
.fourth-layer section:nth-child(2) h1{
  text-align: center;
  font-size: 45px;
  color: #3c6969;
  margin-bottom: 0;
}
.fourth-layer section:nth-child(2) :nth-child(2){
  width: 90%;
  display: block;
  margin: 0 auto;
}
.fourth-layer section:nth-child(2) img:nth-child(3){
  display: block;
  width: 50px;
  margin: 20px auto;
  border-radius: 50px;
}
.fourth-layer section:nth-child(2) h3{
  text-align: center;
  color: #3c6969;
}
.fourth-layer section:nth-child(2) .section-fourth-layer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 50px;
}
.fourth-layer section:nth-child(2) .section-fourth-layer div{
border: 2px solid #3c6969;
margin: 10px;
text-align: center;
border-radius: 10px;
background: #fce5c2;
}
.fourth-layer section:nth-child(2) .section-fourth-layer div span,h4{
  color: #3c6969;
  text-align: left;
  position: relative;
  left: 15px;
  margin: 5px;
  font-weight: bolder;
}
.fourth-layer section:nth-child(2) .section-fourth-layer div span{
  margin: 10px 0;
}
div.fifth-layer{
  background: #fd6507;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
div.fifth-layer section:nth-child(1) p{
  text-align: center;
  font-size: 18px;
}
div.fifth-layer section:nth-child(1) hr{
  border: 1px dashed #777474;
}
div.fifth-layer section:nth-child(1) img{
  width: 40px;
  border-radius: 50px;
  position: relative;
  top: 20px;
  left: 100px;
}
div.fifth-layer section:nth-child(1) h3{
  display: inline-block;
  position: relative;
  top: -10px;
  left: 100px;
  font-weight: bolder;
  font-size: 25px;
  margin: 0 0 15px 0;
}
div.fifth-layer section:nth-child(1) span{
  display: block;
  position: relative;
  top: -25px;
  left: 145px;
  font-size: 15px;
}
div.fifth-layer section:nth-child(1) div{
  width: 30px;
  height: 30px;
  display: inline-block;
  background: #fff;
  position: relative;
  top: -30px;
  left: 170px;
  border-radius: 30px;
  border: 2px solid #0d3e0d;
  margin: 20px 5px;
  text-align: center;
}
div.fifth-layer section:nth-child(1) div span.span{
  position: relative;
  top: 4px;
  left: 0px;
}
div.fifth-layer section:nth-child(1) div.class-div{
  background: #0d3e0d;
}
div.fifth-layer section:nth-child(2){
  align-self: center;
}
div.sixth-layer h6{
  text-align: center;
  font-size: 15px;
  color: #3c6969;
  margin: 30px 0 5px 0;
}
div.sixth-layer h1{
  text-align: center;
  font-size: 35px;
  color: #3c6969;
  font-weight: lighter;
  margin: 0px;
}
div.sixth-layer p{
  text-align: center;
  font-size: 11px;
  color: #3c6969;
  font-weight: lighter;
  margin: 5px 0 0 0;
}
div.sixth-layer button{
  background: #0d3e0d;
  margin: 20px;
  border: none;
  padding: 8px;
  color: #fff;
  width: 110px;
  font-size: 12px;
  border-radius: 20px;
  position: relative;
  left: 300px;
}
div.sixth-layer nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
div.sixth-layer nav div h5{
  margin-left: 30px;
  margin-bottom: 0;
  color: #3c6969;
  font-size: 20px;
}
div.sixth-layer nav div ul{
  margin-top: 5px;
}
div.sixth-layer nav div ul li{
  list-style: none;
  margin: 10px;
  margin-left: -5px;
  font-size: 10px;
  color: #3c6969;
  font-weight: bold;
}
div.sixth-layer nav div ul li a{
  color: #3c6969;
  text-decoration: none;
}
footer p{
  position: relative;
  text-align: left;
  font-size: 15px;
  color: #3c6969;
  margin: 30px 0 20px 0;
  left: 20px;
}
footer ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  
  list-style: none;
  left: 400px;
  bottom: 40px;
  width: 300px;
  font-size: 15px;
  color: #3c6969;
}